services:
  # Serviço do Banco
  db:
    image: postgres:15-alpine
    container_name: sertaneja_db
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    # O Banco lê as variáveis diretamente do arquivo na raiz
    env_file:
      - ./.env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  # Serviço do Backend
  backend:
    build: ./backend
    container_name: sertaneja_backend
    restart: always
    ports:
      - "${PORT}:3000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env
    volumes:
      - ./backend:/app
      - /app/node_modules

  # Serviço do Frontend
  frontend:
    build: ./frontend
    container_name: sertaneja_frontend
    restart: always
    ports:
      - "${FRONTEND_PORT}:5173"
    env_file:
      - ./.env
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  pgdata:
